{% extends "base.html" %}

{% load static %}
{% load jalali_tags %}

{% block title %}
فرش جلالی تبریز | صفحه اصلی
{% endblock title %}

{% block content %}

<div role="main" class="main">
	<div class="slider-container light rev_slider_wrapper">
		<div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider data-plugin-options="{'delay': 5000, 'gridwidth': 1170, 'gridheight': 550, 'disableProgressBar': 'on', 'responsiveLevels': [4096,1200,992,500], 'navigation' : {'arrows': { 'enable': true, 'style': 'arrows-style-1 arrows-big arrows-dark' }, 'bullets': {'enable': false, 'style': 'bullets-style-1 bullets-color-primary', 'h_align': 'center', 'v_align': 'bottom', 'space': 7, 'v_offset': 70, 'h_offset': 0}}}">
			<ul>
				{% for poster in posters %}
				{% if poster.image and not poster.animation %}
				<li data-transition="fade">
					<img 
						src="{{ poster.image.url }}" 
						alt="{{ poster.title }}" 
						data-bgposition="center center" 
						data-bgfit="cover" 
						data-bgrepeat="no-repeat" 
						class="rev-slidebg">

					<div 
						class="tp-caption text-color-light font-weight-normal" 
						data-x="['right','right','center','center']" 
						data-hoffset="['200','200','0','0']" 
						data-y="center" 
						data-voffset="['-72','-72','-72','-125']" 
						data-start="700" 
						data-fontsize="['22','22','22','40']" 
						data-lineheight="['40','40','40','74']" 
						data-transform_in="y:[-50%];opacity:0;s:500;">{{ poster.pre_title }}</div>

					<h1 
						class="tp-caption font-weight-extra-bold text-color-light negative-ls-2" 
						data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"sX:1.5;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]' 
						data-x="['right','right','center','center']" 
						data-hoffset="['146','146','0','0']" 
						data-voffset="['-5','-5','-5','0']" 
						data-y="center" 
						data-fontsize="['50','50','50','90']" 
						data-lineheight="['55','55','55','95']">{{ poster.title }}</h1>
					
				</li>
				{% endif %}
				{% if poster.image and poster.animation %}
				<li data-transition="fade">
	
					<img 
						src="{{ poster.image.url }}" 
						alt="{{ poster.title }}" 
						data-bgposition="left center" 
						data-bgpositionend="center center" 
						data-bgfit="cover" 
						data-bgrepeat="no-repeat" 
						data-kenburns="on" 
						data-duration="8000" 
						data-ease="Linear.easeNone" 
						data-scalestart="110" 
						data-scaleend="100" 
						data-rotatestart="0" 
						data-rotateend="0" 
						data-offsetstart="0 0" 
						data-offsetend="0 0" 
						data-bgparallax="0" 
						class="rev-slidebg">
	
					<div 
						class="tp-caption font-weight-extra-bold text-color-light secondary-font" 
						data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"sX:1.5;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]' 
						data-x="center" 
						data-y="center" 
						data-voffset="['-80','-80','-80','-150']" 
						data-fontsize="['50','50','50','90']" 
						data-lineheight="['55','55','55','95']">{{ poster.pre_title }}</div>
	
					<div 
						class="tp-caption font-weight-light text-color-light" 
						data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":2000,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]' 
						data-x="center" 
						data-y="center" 
						data-voffset="['-5','-5','-5','-5']" 
						data-fontsize="['18','18','18','40']" 
						data-lineheight="['34','34','34','76']" 
						style="color: #b5b5b5;">{{ poster.title }}</div>
	
				</li>
				{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>

	<div class="container-fluid my-2">
		<div class="row p-3">
			<div class="col-6 col-lg-3 p-1">
				<span class="img-thumbnail d-block">
					<a href="{% url 'store:category-list' pc="carpet" %}">
						<img class="img-fluid" src="{% static 'img/FarshNafis.jpg' %}" alt="فرش دستبافت">
					</a>
				</span>
			</div>
			<div class="col-6 col-lg-3 p-1">
				<span class="img-thumbnail d-block">
					<a href="{% url 'store:category-list' pc="wallcarpet" %}">
						<img class="img-fluid" src="{% static 'img/TabloFarsh.jpg' %}" alt="تابلو فرش دستبافت">
					</a>
				</span>
			</div>
			{% if lux %}
			<div class="col-6 col-lg-3 p-1">
				<span class="img-thumbnail d-block">
					<a href="{% url 'store:category-products' cid=lux.pk %}">
						<img class="img-fluid" src="{% static 'img/FarshLux.jpg' %}" alt="فرش دستبافت لوکس">
					</a>
				</span>
			</div>
			{% endif %}
			<div class="col-6 col-lg-3 p-1">
				<span class="img-thumbnail d-block">
					<a href="{% url 'store:category-list' pc="gilim" %}">
						<img class="img-fluid" src="{% static 'img/Gilim.jpg' %}" alt="فرش‌های سنتی">
					</a>
				</span>
			</div>
		</div>
	</div>
	
	{% if on_sale %}
	<section>
		<div class="container-fluid text-center">
			<div class="row">
				<div class="col-lg-12">
					<a href="#">
						{% for p in on_sale %}
						{% if p %}
						<img class="img-fluid rounded mb-4" src="{{ p.image.url }}" alt="{{ p.subject }}" style="max-width:100%">
						{% endif %}
						{% endfor %}
					</a>
				</div>
			</div>
		</div>
	</section>
	{% endif %}

	{% if ex %}
	<div class="container-fluid mb-3">
		<h4 class="text-uppercase text-primary px-3 mb-3"><a href="{% url 'jcompany:exhibition' %}">نمایشگاه‌ها</a></h4>		
		<div class="owl-carousel owl-theme full-width" data-plugin-options="{'responsive': {'0': {'items': 1}, '479': {'items': 4}, '768': {'items': 4}, '992': {'items': 4}, '1200': {'items': 4}}, 'loop': true, 'nav': true, 'autoplay': true, 'autoplayTimeout': 3000, 'dots': false}">
			{% for ex in ex %}
			{% if ex %}
				<span class="thumb-info thumb-info-no-borders m-1">
					<span class="thumb-info-wrapper">
						<img src="{{ ex.cover.url }}" class="img-fluid" alt="{{ ex.title }}-{{ ex.city.name }}" style="width:100%">
						<span class="thumb-info-title">
							<span class="thumb-info-inner"><a class="text-light" href="{% url 'jcompany:exhibition' %}">{{ ex.title }}</a></span>
							<span class="thumb-info-type">{{ ex.start_date|to_jalali:'%Y/%m/%d' }} الی {{ ex.end_date|to_jalali:'%Y/%m/%d' }}</span>
						</span>
					</span>
				</span>
			{% endif %}
			{% endfor %}
		</div>
	</div>
	{% endif %}

	{% if video %}
	<section class="bg-color-primary p-4 mt-4">
	<div class="container-fluid pt-2">
		<h4 class="text-uppercase text-light">جدیدترین ویدئوها<span style="float: left;"><a class="text-light" href="#">مشاهده همه</a></span></h4>
		
		<div class="row">
			{% for video in video %}
			{% if video.src %}
			<div class="col-lg-4 py-4">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe src="{{ video.src }}"  allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true">

					</iframe>
				</div>
			</div>
			{% endif %}
			{% endfor %}
		</div>
	</div>
	</section>
	{% endif %}

	{% if customer_video %}
	<section class=" p-4">
	<div class="container-fluid pt-2">
		<h4 class="text-uppercase text-dark">رضایت مشتریان ما<span style="float: left;"><a class="text-light" href="#">مشاهده همه</a></span></h4>
		
		<div class="row">
			{% for video in customer_video %}
			{% if video.src %}
			<div class="col-lg-4 py-4">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe src="{{ video.src }}"  allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true">

					</iframe>
				</div>
			</div>
			{% endif %}
			{% endfor %}
		</div>
	</div>
	</section>
	{% endif %}

	<section class="bg-color-primary p-5">
		<div class="container-fluid">
			<div class="row align-items-center justify-content-center">
				<div class="col-lg-6 pb-lg-0 pr-lg-5 mb-sm-5 mb-lg-0">
					<h2 class="text-color-dark font-weight-normal text-6 mb-2">در مجموعه <strong class="font-weight-extra-bold">فرش جلالی</strong> چه خبر!</h2>
					<p class="lead text-light">بیش از نیم قرن تجربه در تولید و فروش دستبافته‌های اصیل ایرانی
						موجب شده تا امروز فرش جلالی تبریز یکی از بزرگترین مجموعه‌های دستبافت کشور باشد. </p>
					<p class="pr-5 mr-5 text-light">گنجینه‌ای از فرش و تابلوفرش‌های دستباف تبریز، گلیم و فرش‌های سنتی ایران زمین، بیش از 3000 محصول متنوع که به دست هنرمندان بزرگ کشور طراحی و تولید شده‌اند.</p>
					<a href="{% url 'jcompany:about-us' %}" class="btn font-weight-semibold btn-px-4 btn-py-2 text-2" style="background-color:#d5b270">آشنایی بیشتر</a>
				</div>
				<div class="col-sm-8 col-md-6 col-lg-4 offset-sm-4 offset-md-4 offset-lg-2 mt-sm-5" style="top: 1.7rem;">
					<img src="{% static 'img/generic/generic-1.jpg' %}" class="img-fluid position-absolute d-none d-sm-block appear-animation" data-appear-animation="expandIn" data-appear-animation-delay="300" style="top: 10%; right: -50%;" alt="">
					<img src="{% static 'img/generic/generic-2.jpg' %}" class="img-fluid position-absolute d-none d-sm-block appear-animation" data-appear-animation="expandIn" style="top: -33%; right: -29%;" alt="">
					<img src="{% static 'img/generic/generic-3.jpg' %}" class="img-fluid position-relative appear-animation mb-2" data-appear-animation="expandIn" data-appear-animation-delay="600" alt="">
				</div>
			</div>
		</div>
	</section>

	{% if new_blog %}
	<div class="container-fluid mt-5">
		<h4 class="text-uppercase text-primary px-3"><a href="{% url 'blog:blog' %}">آخرین مطالب</a><span style="float: left;"><a href="{% url 'blog:blog' %}">مشاهده همه</a></span></h4>
			
		<div class="owl-carousel owl-theme full-width" data-plugin-options="{'responsive': {'0': {'items': 1}, '479': {'items': 4}, '768': {'items': 4}, '992': {'items': 4}, '1200': {'items': 4}}, 'loop': true, 'nav': true, 'autoplay': true, 'autoplayTimeout': 3000, 'dots': false}">
			{% for blog in new_blog %}
			{% if blog %}
				<article class="post post-medium border-0 p-1">
					<div class="post-image">
						<a href="{% url 'blog:blog-details' bid=blog.pk %}">
							<img src="{{ blog.cover.url }}" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="">
						</a>
					</div>

					<div class="post-content">

						<h2 class="font-weight-semibold text-4 line-height-5 mt-3 mb-1 pt-1"><a href="{% url 'blog:blog-details' bid=blog.pk %}">{{ blog.title|safe|truncatewords:15 }}</a></h2>
						<p>{{ blog.content|safe|truncatewords:20 }}</p>

						<div class="post-meta">
							<span><i class="far fa-user"></i> توسط  <a href="#">{{ blog.user.first_name }} {{ blog.user.last_name }}</a> </span>
							<span><i class="far fa-folder"></i> <a href="#">{{ blog.category.title }}</a> </span>
							<span class="d-block mt-2 pt-1"><a href="{% url 'blog:blog-details' bid=blog.pk %}" class="btn btn-block btn-primary text-3 text-uppercase">بیشتر بخوانید</a></span>
						</div>

					</div>
				</article>
			{% endif %}
			{% endfor %}
		</div>
	</div>
	{% endif %}

</div>
{% endblock content %}