{% extends "base.html" %}
{% load static %}

{% load humanize %}
{% block title %}
فرش جلالی تبریز | محصولات
{% endblock title %}
{% block description %}
دسته بندی محصولات
{% endblock description %}
{% block content %}
<style>
    #id_pattern {
        overflow:auto;
        height:100px;
    }
    #id_wate {
        overflow:auto;
        height:100px;
    }
</style>
			<div role="main" class="main shop mt-3 py-1">

				<div class="container">

					<div class="row">
						<div class="col-lg-3 d-none d-lg-block">
							<aside class="sidebar mb-5 mb-lg-0 pb-2 pb-lg-0">
								<h5 class="font-weight-bold pt-2">دسته‌بندی ها<br>({{ category.title }})</h5>
								<ul class="nav nav-list flex-column">
									{% for cat in categories %}
									<li class="nav-item"><a class="nav-link" href="{% url 'store:category-products' cid=cat.pk %}">{{ cat.title }}</a></li>
									{% endfor %}
								</ul>
								<h5 class="font-weight-bold pt-5">برچسب ها</h5>
								<div class="mb-3 pb-1">
                                {% for tag in tags %}

									<a href="{% url 'store:tag-products' id=tag.pk %}"><span class="badge badge-dark badge-sm badge-pill py-1 mr-1">{{ tag.name }}</span></a>

								{% endfor %}
								</div>
								<div class="row mb-3">
									<div class="col">
										<h5 class="font-weight-bold pt-5">محصولات ویژه</h5>
										<ul class="simple-post-list">
											{% for sale in sale %}
											<li>
												<div class="post-image">
													<div class="d-block">
														<a href="{% url 'store:product-details' code=sale.code %}">
														{% if sale.cover %}
															<img alt="{{ sale.name }}" width="60" height="60" class="img-fluid" src="{{ sale.cover.url }}">
														{% else %}
															<img alt="{{ sale.name }}" width="60" height="60" class="img-fluid" src="{% static 'img/blank.jpg' %}">
														{% endif %}
														</a>
													</div>
												</div>
												<div class="post-info mt-1">
													<a href="{% url 'store:product-details' code=sale.code %}">{{ sale.name }}</a>
													<div class="post-meta text-dark font-weight-semibold line-height-double">
														{{ sale.on_sale|intcomma:False }} تومان
													</div>
												</div>
											</li>
										{% endfor %}
										</ul>
									</div>
								</div>
							</aside>
						</div>
						<div class="col-lg-9">
							<div class="masonry-loader masonry-loader-showing">
								<div class="row products product-thumb-info-list" data-plugin-masonry data-plugin-options="{'layoutMode': 'fitRows'}">
									{% for product in page_obj %}
									{% if product.available %}
									{% if product.on_sale > 0 %}
									<div class="col-sm-6 col-lg-4 product">
										<a href="#">
											<span class="onsale">ویژه!</span>
										</a>
										<span class="product-thumb-info border-0">
											<a href="{% url 'store:product-details' code=product.code %}" class="add-to-cart-product bg-color-primary">
												<span class="text-1">جزئیات محصول</span>
											</a>
											<a href="{% url 'store:product-details' code=product.code %}">
												<span class="product-thumb-info-image">
													<img alt="{{ product.name }}" class="img-fluid" src="{% if product.cover %}{{ product.cover.url }}{% else %}{% static 'img/blank.jpg' %}{% endif %}">
												</span>
											</a>
											<span class="product-thumb-info-content product-thumb-info-content pl-0 bg-color-light">
												<a href="{% url 'store:product-details' code=product.code %}">
													<h4 class="text-4 text-primary">{{ product.name }}</h4>
													<span class="price">
														<del><span class="amount">{{ product.price|intcomma:False }} تومان</span></del>
														<ins><span class="amount text-dark font-weight-semibold">{{ product.on_sale|intcomma:False }} تومان</span></ins>
													</span>
												</a>
											</span>
										</span>
									</div>
									{% else %}
									<div class="col-sm-6 col-lg-4 product">
										<span class="product-thumb-info border-0">
											<a href="{% url 'store:product-details' code=product.code %}" class="add-to-cart-product bg-color-primary">
												<span class="text-1">جزئیات محصول</span>
											</a>
											<a href="{% url 'store:product-details' code=product.code %}">
												<span class="product-thumb-info-image">
													<img alt="{{ product.name }}" class="img-fluid" src="{% if product.cover %}{{ product.cover.url }}{% else %}{% static 'img/blank.jpg' %}{% endif %}">
												</span>
											</a>
											<span class="product-thumb-info-content product-thumb-info-content pl-0 bg-color-light">
												<a href="{% url 'store:product-details' code=product.code %}">
													<h4 class="text-4 text-primary">{{ product.name }}</h4>
													<span class="price">
														{% if product.price %}
														<span class="amount text-dark font-weight-semibold">{{ product.price|intcomma:False }} تومان</span>
														{% else %}
														<span class="amount text-dark font-weight-semibold">بزودی</span>
														{% endif %}
													</span>
												</a>
											</span>
										</span>
									</div>
									{% endif %}
									{% endif %}
									{% endfor %}
								</div>
								{% if page_obj.has_next or page_obj.has_previous%}
								<div class="row mt-4 mb-n3">
									<div class="col">
										<ul class="pagination float-right">
										{% if page_obj.has_previous %}
											<li class="page-item"><a class="page-link" href="?{{ request.GET.urlencode }}&page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
										{% endif %}
											<li class="page-item active"><a class="page-link">{{ page_obj.number }}</a></li>
										{% if page_obj.has_next %}
											<li class="page-item"><a class="page-link" href="?{{ request.GET.urlencode }}&page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
											<li class="page-item"><a class="page-link" href="?{{ request.GET.urlencode }}&page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
										{% endif %}
										</ul>
									</div>
								</div>
								{% endif %}
							</div>
						</div>
					</div>
				</div>

			</div>
{% endblock content %}