{% extends "base.html" %}
{% load static %}

{% load humanize %}
{% block description %}
جزئیات محصول {{ product.name }}-{{ product.code }}
{% endblock description %}

{% block title %}
فرش جلالی تبریز | جزئیات محصول {{ product.name }}-{{ product.code }}
{% endblock title %}

{% load static %}
{% block content %}
<div role="main" class="main shop">
	<section class="page-header page-header-modern page-header-md" style="background-color:#255a6c">
		<div class="container-fluid">
			<div class="row align-items-center">

				<div class="col">
				</div>
				<div class="col">
					<div class="row">
						<div class="col-md-12 align-self-center p-static order-2 text-center">
							<div class="overflow-hidden pb-1 mb-n1">
								<h1 class="text-color-light font-weight-bold text-5 appear-animation mt-1 mb-n2" data-appear-animation="maskUp" data-appear-animation-delay="100">{{ product.name }} - {{ product.code }}</h1>
							</div>
						</div>
						<div class="col-md-12 align-self-center order-1">
							<ul class="breadcrumb d-block text-center appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="300">
								<li><a style="color:#d5b270" href="{% url 'jcompany:index' %}">خانه</a></li>
								<li><a style="color:#d5b270" href="{% url 'store:category-products' cid=product.category.id %}">{{ product.category.title }}</a></li>
								<li class="active" style="color:#d6d6d6">{{ product.code }}</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col">
				</div>
			</div>
		</div>
	</section>

		<div class="container">

			<div class="row">
				<div class="col-lg-4 mx-auto">
					<div class="thumb-gallery">
						<div class="owl-carousel owl-theme manual thumb-gallery-detail show-nav-hover" id="thumbGalleryDetail">
							{% for images in images %}
							{% if images.images %}
							<div>
								<span class="img-thumbnail img-thumbnail-no-borders d-block">
									<a class="lightbox" href="{{ images.images.url }}" data-plugin-options="{'type':'image'}">
									<img alt="" src="{{ images.images.url }}" class="img-fluid">
									</a>
								</span>
							</div>
							{% endif %}
							{% endfor %}
						</div>
						<div class="owl-carousel owl-theme manual thumb-gallery-thumbs mt" id="thumbGalleryThumbs">
							{% for images in images %}
							{% if images.images %}
							<div>
								<span class="img-thumbnail img-thumbnail-no-borders d-block cur-pointer">
									<img alt="Project Image" src="{{ images.images.url }}" class="img-fluid">
								</span>
							</div>
							{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
				{% comment %} <div class="col-lg-4">
					<div class="owl-carousel owl-theme" data-plugin-options="{'items': 1}">
						{% for images in images %}
							{% if images.images %}
						<div>
							<a class="lightbox" href="{{ images.images.url }}" data-plugin-options="{'type':'image'}">
								<img alt="" class="img-fluid" src="{{ images.images.url }}">
							</a>
						</div>
						{% endif %}
						{% endfor %}
					</div>
				</div> {% endcomment %}

				<div class="col-lg-4">

					<div class="summary entry-summary">

						<h1 class="mb-2 font-weight-bold text-7">{{ product.name }}</h1>

						<div class="py-1 clearfix">

							<div>
								{% if product.available  %}
								<span class="count text-primary" itemprop="ratingCount">موجود در انبار</span> 
								{% else %}
								<span class="count text-danger" itemprop="ratingCount">اتمام موجودی</span> 
								{% endif %}
							</div>
						</div>
						{% if product.available %}
							{% if product.on_sale %}
							<p class="price">
							<del><span class="amount text-primary">قیمت:</span> {% if product.price %}{{ product.price|intcomma:False }}{% else %}بزودی{% endif %} تومان</del>
							</p>
							<p class="price">
							<span class="amount text-primary">قیمت با تخفیف:</span> {% if product.on_sale %}{{ product.on_sale|intcomma:False }}{% else %}بزودی{% endif %} تومان
							</p>
							{% else %}
							<p class="price">
								<span class="amount text-primary">قیمت:</span> {% if product.price %}{{ product.price|intcomma:False }}{% else %}بزودی{% endif %} تومان
							</p>
							{% endif %}
						{% endif %}

						{% if product.available %}
						<button type="button" class="btn btn-sm btn-primary btn-block" data-toggle="modal" data-target="#noAnimModal">خرید</button>
						<div class="modal" id="noAnimModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h4 class="modal-title" id="noAnimModalLabel">استعلام و خرید</h4>
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
									</div>
									<div class="modal-body">
										<a href="https://wa.me/989141196297" target="_blank" class="mb-1 mt-1 mr-1 btn btn-primary"><i class="fab fa-whatsapp"></i> واتس اپ</a>
										<a href="tel:+989141196297" target="_blank" class="mb-1 mt-1 mr-1 btn btn-primary"><i class="fas fa-phone"></i> تماس 09141196297</a>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-light" data-dismiss="modal">بستن</button>
									</div>
								</div>
							</div>
						</div>
						{% else %}
						<button href="#" class="btn btn-primary btn-modern text-uppercase">اتمام موجودی</button>
						{% endif %}
						<div class="product-meta mt-2">
							<span class="posted-in">دسته ها: <a rel="tag" href="#">{{ product.category.title }}</a></span>
						</div>

					</div>


				</div>

				<div class="col-lg-4">
					<h4 class="card-title mb-1 text-4 font-weight-bold">اطلاعات تکمیلی</h4>
					<div class="card">
						<div class="card-body">
							<table class="table m-0">
								<tbody>
									<tr>
										<th class="border-top-0">
											بافت
										</th>
										<td class="border-top-0">
											{% if product.texture %}
											{{ product.texture }}
											{% else %}
											-
											{% endif %}
										</td>
									</tr>
									<tr>
										{% if product.category.primary_cat == "wallcarpet" %}
										<th>
											ابعاد بدون قاب (متر)
										</th>
										{% else %}
										<th>
											ابعاد تکی (متر)
										</th>
										{% endif %}
										<td>
											{{ product.width }}<span class="mx-1">X</span>{{ product.length }}
										</td>
									</tr>
									{% if product.width_p > 0.00 and product.length_p > 0.00 %}
										{% if product.category.primary_cat == "wallcarpet" %}
										<tr>
											<th>
												ابعاد با قاب (متر)
											</th>
											<td>
												{{ product.width_p }}<span class="mx-1">X</span>{{ product.length_p }}
											</td>
										</tr>
										{% else %}
										<tr>
											<th>
												ابعاد جفت (متر)
											</th>
											<td>
												{{ product.width_p }}<span class="mx-1">X</span>{{ product.length_p }}
											</td>
										</tr>
										{% endif %}
									{% endif %}
									<tr>
										<th>
											رج
										</th>
										<td>
											{% if product.wate %}
											{{ product.wate }}
											{% else %}
											-
											{% endif %}
										</td>
									</tr>
									<tr>
										<th>
											نقشه
										</th>
										<td>
											{% if product.pattern %}
											{{ product.pattern }}
											{% else %}
											-
											{% endif %}
										</td>
									</tr>
									{% if product.pile %}
									<tr>
										<th>
											چله
										</th>
										<td>
											{{ product.pile }}
										</td>
									</tr>
									{% endif %}
									<tr>
										<th>
											برچسب‌ها
										</th>
										<td>
											{% if product.tags %}
											{% for tag in product.tags.all %}
											<a href="{% url 'store:tag-products' id=tag.pk %}"><span class="badge badge-sm badge-pill py-1 mr-1" style="background-color:#d5b270; color:white">{{ tag.name }}</span></a>
											{% endfor %}
											{% endif %}
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col">
					<div class="tabs tabs-product mb-2">
						<ul class="nav nav-tabs d-block d-sm-flex">
							<li class="nav-item active"><a class="nav-link py-3 px-4" href="#productInfo" data-toggle="tab">توضیحات</a></li>
						</ul>
						<div class="tab-content p-0">
							<div class="tab-pane p-4 active" id="productInfo">
								<p>{{ product.short_description|linebreaks }}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<hr class="solid my-5">

					<h4 class="mb-4"><strong>محصولات</strong> مرتبط</h4>
					<div class="masonry-loader masonry-loader-showing">
						<div class="row products product-thumb-info-list mt-3" data-plugin-masonry data-plugin-options="{'layoutMode': 'fitRows'}">
							{% if suggests %}
							{% for sproduct in suggests %}
							{% if sproduct.pk != product.pk %}
							<div class="col-12 col-sm-6 col-lg-3 product">
								<span class="product-thumb-info border-0">
									<a href="{% url 'store:product-details' code=product.code %}" class="add-to-cart-product bg-color-primary">
										<span class="text-1">جزئیات محصول</span>
									</a>
									<a href="{% url 'store:product-details' code=sproduct.code %}">
										<span class="product-thumb-info-image">
											{% if sproduct.cover %}
											<img alt="{{ sproduct.name }}" class="img-fluid" src="{{ sproduct.cover.url }}">
											{% endif %}
										</span>
									</a>
									<span class="product-thumb-info-content product-thumb-info-content pl-0 bg-color-light">
										<a href="{% url 'store:product-details' code=sproduct.code %}">
											<h4 class="text-4 text-primary">{{ sproduct.name }}</h4>
											<span class="price">
												<del><span class="amount text-3">{{ product.price|intcomma:False }} تومان</span></del>
												<ins><span class="amount text-dark text-3">{{ product.on_sale|intcomma:False }} تومان</span></ins>
											</span>
										</a>
									</span>
								</span>
							</div>
							{% endif %}
							{% endfor %}
							{% endif %}
						</div>
					</div>

				</div>
			</div>
		</div>


</div>

		
{% endblock content %}